.company-summary-container {
    border: 2px solid;
    display: flex;
}

.chart-container {
    padding: 8px;
    order: 1;
    width: 50%;
    height: 50%;
}

.info-container {
    padding-left: 8px;
    order: 2;
}