.company-summary-container {
    border: 2px solid;
    display: flex;
}

.chart-container {
    order: 1;
    padding: 8px;
    width: 50%;
    height: 50%;
}

.info-container {
    order: 2;
    padding-left: 8px;
}

.range-button-container {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.range-button {
    margin: 2px 8px 2px 8px;
}